{% extends "base.html" %}

{% load static %}
{% block content %}
{% load humanize %}

<!--Total Stock-->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Total Stock</h1>
           <p>Data yang ditampilkan adalah data dari stock barang yang masih ada.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Total Stock Barang</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nomor</th>
                      <th>Nama Barang</th>
                      <th>Jumlah Barang</th>
<!--                      <th>Unit</th>-->
                      <th>Harga Beli /1</th>
                      <th>Subtotal Beli /1</th>
                      <th>Laba</th>
                      <th>Jual /1</th>
                      <th>Subtotal Jual /1</th>
                      <th>Tanggal</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for data in data %}
                    <tr>
                      <td>{{data.nomor}}</td>
                      <td>{{data.nama_product}}</td>
                      <td>{{data.jumlah_produk}}</td>
<!--                      <td>{{data.unit_produk}}</td>-->
                      <td>Rp. {{data.harga_beli_satuan|intcomma}}</td>
                      <td>Rp. {{data.subtotal_harga_beli|intcomma}}</td>
                      <td>{{data.laba_persen}} %</td>
                      <td>Rp. {{data.harga_jual_satuan|intcomma}}</td>
                      <td>Rp. {{data.subtotal_harga_jual|intcomma}}</td>
                      <td>{{data.created}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->



{% endblock %}