{% extends "base.html" %}

{% load static %}
{% block content %}
{% load humanize %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Nota Pembelian</h1>
           <p>Lakukan pengecekan terlebih dahulu sebelum melakukan print nota</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Nota Pembelian</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                       <tr>
                         <th>Nomor Nota</th>
                         <th>Jumlah Pembelian</th>
                         <th>Total Harga</th>
                         <th>Tanggal Pembelian</th>
                         <th></th>
                       </tr>
                     </thead>
                     <tbody>
                     {% for data in data %}
                       <tr>
                        <td>{{data.nomor}}</td>
                        <td>{{data.produk_jumlah}}</td>
                        <td>{{data.total|intcomma}}</td>
                        <td>{{data.created|date}}</td>
                        <td><a href="{% url 'StruckPembelian' pk=data.nomor %}"><button type="button" class="btn btn-outline-primary btn-sm">Nota</button></a></td>
                       </tr>
                     {% endfor %}
                     </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}